@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
#result{
  font-style: italic;
}
#result p{
  /* font-weight: 800; */
  line-height: 1;
  margin-bottom: 0.5rem;
}

#result span{
  color: hsl(259, 100%, 65%);
}

#error-day, #error-month, #error-year{
  color: hsl(0, 100%, 67%);
  height: 15px;
  font-size: 0.8rem;
  margin-top: 0.2em;
  font-weight: 400;
  font-style: italic;
}